//h-scroll
div.h-scroll {
  position: relative;
  overflow: hidden;

  //hide scroll bar
  ::-webkit-scrollbar,
  *::-webkit-scrollbar {
    display: none;
  }
}

div.h-scroll[scrollx=true] {
  overflow-x: auto;
}

div.h-scroll[scrolly=true] {
  overflow-y: auto;
}

//end h-scroll

ion-grid.top-grid {
  padding: 0 !important;
  ion-col {
    flex: 0 0 calc(calc(2 / var(--ion-grid-columns, 10)) * 100%) !important;
    width: calc(calc(2 / var(--ion-grid-columns, 10)) * 100%) !important;
    max-width: calc(calc(2 / var(--ion-grid-columns, 10)) * 100%) !important;
    padding: 8px !important;
    border-left: 1px solid var(--border-color) !important;
    border-bottom: 1px solid var(--border-color) !important;
    &:first-of-type {
      border-left: none !important;
    }
    img {
      width: 100%;
    }
  }
}

div.item {
  .sc-ion-card-md-h, .sc-ion-card-ios-h {
    box-shadow: none !important;
    border: none !important;
    margin: 0 !important;
    img {
      //padding: 15px 30px !important;
      border-bottom: 1px solid var(--border-color) !important;
    }
    ion-card-header {
      padding-bottom: 0 !important;
      ion-card-title.md.hydrated, ion-card-title.ios.hydrated {
        font-weight: bold !important;
        text-align: center !important;
        text-transform: uppercase !important;
        color: var(--main-color) !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 17px !important;
      }
    }
    ion-list {
      div.price {
        height: 60px !important;
        background: linear-gradient(to right, #ddd, #fff);
        border-radius: 8px !important;
        margin-bottom: 20px !important;
        ion-label {
          height: 100%;
          width: 40%;
          line-height: 60px !important;
          display: inline-block;
          margin: 0 !important;
          font-size: 13px !important;
          text-align: center !important;
          text-transform: uppercase !important;
          color: var(--main-color) !important;
          background: transparent !important;
        }
        ion-badge {
          height: 100% !important;
          width: 60% !important;
          margin: 0 !important;
          --background: linear-gradient(to right, var(--main-color), var(--ion-color-danger)) !important;
          line-height: 55px !important;
          text-transform: uppercase !important;
          font-size: 17px !important;
          font-weight: normal !important;
          font-family: var(--main-font) !important;
        }
      }
      ion-item.select {
        --background: #eee !important;
        margin-bottom: 10px !important;
        ion-label {
          text-transform: uppercase !important;
          color: #000 !important;
          background: transparent !important;
          font-size: 13px !important;
        }
        ion-icon {
          margin: 0 !important;
          background: var(--main-color) !important;
          color: #fff !important;
          height: 100% !important;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          width: 50px !important;
          font-size: 20px !important;
        }
        ion-select.md.in-item.hydrated, ion-select.ios.in-item.hydrated {
          //remove display none if u want the native ion-select
          display: none !important;
          background: var(--main-color) !important;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          color: #fff !important;
          padding-left: 0 !important;
          padding-right: 15px !important;
          div.select-icon {
            margin: auto !important;
            right: 47% !important;
            --background: #fff !important;
            .ion-slect-inner {
              border-top: 20px solid !important;
              border-right: 20px solid transparent !important;
              border-left: 20px solid transparent !important;
              left: -10px;
              --background: #fff !important;
            }
          }
        }
      }
      ion-item.date {
        --background: #eee !important;
        margin-bottom: 10px !important;
        ion-label {
          text-transform: uppercase !important;
          color: #000 !important;
          background: transparent !important;
          font-size: 13px !important;
        }
        ion-icon {
          margin: 0 !important;
          background: var(--main-color) !important;
          color: #fff !important;
          height: 100% !important;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          width: 50px !important;
          font-size: 20px !important;
        }
        ion-datetime {
          --padding-end: 50px !important;
          .datetime-text {
            --padding-end: 50px !important;
            padding-right: 50px !important;
          }
        }
      }
      ion-item.quantity {
        --background: #eee !important;
        text-transform: uppercase !important;
        color: #000 !important;
        background: transparent !important;
        font-size: 13px !important;
        ion-icon[name='add'] {
          margin: 0 !important;
          background: var(--main-color) !important;
          color: #fff !important;
          height: 100% !important;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          width: 50px !important;
          font-size: 20px !important;
        }
        ion-icon[name='remove'] {
          margin: 0 !important;
          background: var(--main-color) !important;
          color: #fff !important;
          height: 100% !important;
          position: absolute;
          right: 120px;
          top: 0;
          bottom: 0;
          width: 50px !important;
          font-size: 20px !important;
        }
        ion-badge {
          position: absolute;
          right: 50px;
          background: transparent;
          width: 70px;
          color: #000 !important;
          border-radius: 0;
          display: inline-table !important;
        }
      }
    }
  }
}

div.map {
  h2 {
    font-weight: bold !important;
    text-align: center !important;
    text-transform: uppercase !important;
    color: var(--main-color) !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-size: 17px !important;
    margin-top: 0 !important;
  }
  ion-badge {
    display: block !important;
    --background: var(--dark-color) !important;
    text-align: center !important;
    text-transform: uppercase !important;
    border-radius: 0;
    padding: 17px 0;
    font-weight: normal !important;
    font-size: 17px !important;
    ion-icon {
      font-size: 17px !important;
    }
  }
  ion-item {
    color: #333 !important;
    text-transform: uppercase !important;
    padding: 10px !important;
    --border-width: 0 !important;
    --box-shadow: none !important;
    --border-style: none !important;
    ion-icon {
      margin-right: 10px !important;
    }
  }
}

div.more-info {
  ion-item {
    --border-width: 0 !important;
    ion-input {
      --padding-start: 10px !important;
      --placeholder-color: #000 !important;
      height: 100% !important;
      --background: #eee !important;
      &:first-of-type {
        margin-bottom: 16px !important;
      }
    }
    ion-textarea {
      margin-top: 0 !important;
      height: 100% !important;
      --background: #eee !important;
      --padding-start: 10px !important;
      --placeholder-color: #000 !important;
    }
    &:nth-of-type(3) {
      margin-bottom: 20px !important;
    }
  }
}

ion-item.cart {
  margin-bottom: 40px !important;
  ion-button {
    width: 100% !important;
    height: 100% !important;
    --background: var(--main-color) !important;
    border-radius: 8px !important;
    font-size: 17px !important;
    text-transform: capitalize !important;
  }
}

ion-grid {
  padding: 0 !important;
  ion-col {
    padding: 0 !important;
    ion-button {
      height: 60px !important;
      width: 100% !important;
    }
    &:first-of-type {
      ion-button {
        --background: var(--dark-color) !important;
      }
    }
    &:last-of-type {
      ion-button {
        --background: #eee !important;
        color: #000 !important;
      }
    }
  }
}

[aria-checked=true].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md, [aria-checked=true].sc-ion-alert-ios .alert-radio-icon.sc-ion-alert-ios {
  border-color: var(--main-color) !important;
}

.alert-radio-inner.sc-ion-alert-md {
  background-color: var(--main-color) !important;
}

.alert-button.sc-ion-alert-md {
  color: var(--main-color) !important;
}

:host-context(html[dir="rtl"]) {
  div.price {
    background: linear-gradient(to left, #ddd, #fff) !important;
  }
  ion-select.md.in-item.hydrated, ion-select.ios.in-item.hydrated {
    left: 0 !important;
    right: auto !important;
    div.select-icon {
      .ion-slect-inner {
        right: -10px !important;
        left: auto !important;
      }
    }
  }

  ion-item.date, ion-item.select {
    ion-icon {
      right: auto !important;
      left: 0 !important;
    }
  }
  ion-item.quantity {
    ion-icon[name='add'] {
      left: 0 !important;
      right: auto !important;
    }
    ion-icon[name='remove'] {
      left: 120px !important;
      right: auto !important;
    }
    ion-badge {
      left: 50px !important;
      right: auto !important;
    }
  }
}
