<app-header [pageTitle]="title"></app-header>

<ion-content>
    <div class="h-scroll" scrollx="true">
        <ion-grid class="top-grid">
            <ion-row nowrap>
                <ion-col size="2">
                    <img src="../../assets/imgs/Group%20281@3x.png">
                </ion-col>
                <ion-col size="2">
                    <img src="../../assets/imgs/Group%20281@3x.png">
                </ion-col>
                <ion-col size="2">
                    <img src="../../assets/imgs/Group%20281@3x.png">
                </ion-col>
                <ion-col size="2">
                    <img src="../../assets/imgs/Group%20281@3x.png">
                </ion-col>
                <ion-col size="2">
                    <img src="../../assets/imgs/Group%20488@3x.png">
                </ion-col>
                <ion-col size="2">
                    <img src="../../assets/imgs/Group%20281@3x.png">
                </ion-col>
                <ion-col size="2">
                    <img src="../../assets/imgs/Group%20281@3x.png">
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <main>
        <div class="item">
            <ion-card>
                <img src="../../assets/imgs/ground-meat.jpg" alt=""/>
                <ion-card-header>
                    <ion-card-title>Card Title</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    <ion-list>
                        <div class="price">
                            <ion-label>price</ion-label>
                            <ion-badge slot="end">39.00 aed</ion-badge>
                        </div>
                        <ion-item class="select">
                            <ion-label>indian cow</ion-label>
                            <ion-select interface="alert" #typeSecection>
                                <ion-select-option value="f">Female</ion-select-option>
                                <ion-select-option value="m">Male</ion-select-option>
                            </ion-select>
                            <!--remove this icon if u want the native ion-select-->
                            <ion-icon name="arrow-down" slot="end" (click)="openSelect('typeSecection')"></ion-icon>
                        </ion-item>
                        <ion-item class="select">
                            <ion-label>add fat</ion-label>
                            <ion-select interface="alert" #fatSelection>
                                <ion-select-option value="f">fat 1</ion-select-option>
                                <ion-select-option value="m">fat 2</ion-select-option>
                            </ion-select>
                            <!--remove this icon if u want the native ion-select-->
                            <ion-icon name="arrow-down" slot="end" (click)="openSelect('fatSelection')"></ion-icon>
                        </ion-item>
                        <ion-item class="date">
                            <ion-label>choose delivery date</ion-label>
                            <ion-datetime displayFormat="MM DD YY"></ion-datetime>
                            <ion-icon name="calendar" slot="end"></ion-icon>
                        </ion-item>
                        <ion-item class="date">
                            <ion-label>choose delivery time</ion-label>
                            <ion-datetime displayFormat="HH:mm:ss"></ion-datetime>
                            <ion-icon name="clock" slot="end"></ion-icon>
                        </ion-item>
                        <ion-item class="quantity">
                            <ion-label>quantity</ion-label>
                            <ion-icon name="remove" (click)="decrement()"></ion-icon>
                            <ion-badge>
                                {{quantity}}
                            </ion-badge>
                            <ion-icon name="add" (click)="increment()"></ion-icon>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </div>

        <div class="map">
            <h2>Address</h2>
            <ion-badge>
                <ion-icon name="pin"></ion-icon>
                map
            </ion-badge>
            <ion-item>
                <ion-icon name="locate"></ion-icon>
                choose loction from map.
            </ion-item>
        </div>

        <div class="more-info">
            <ion-item>
                <ion-input type="tel" placeholder="PHONE"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="tel" placeholder="ADDITIONAL PHONE NUMBER"></ion-input>
            </ion-item>
            <ion-item>
                <ion-textarea rows="6" placeholder="ADDITIONAL INFORMATIONS"></ion-textarea>
            </ion-item>
        </div>

        <ion-item class="cart">
            <ion-button expand="block">
                <ion-icon name="cart" slot="start"></ion-icon>
                add to cart
            </ion-button>
        </ion-item>

        <ion-grid class="footer">
            <ion-row>
                <ion-col size="6">
                    <ion-button expand="full">
                        <ion-icon name="arrow-forward" slot="start"></ion-icon>
                        continue
                    </ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button expand="full">
                        <ion-icon name="add" slot="start"></ion-icon>
                        add more
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </main>
</ion-content>
