
ion-toolbar.hydrated {
  --background: url('../../../assets/imgs/Group 46@3x.png') 0 0/100% 100% no-repeat !important;
  background-size: cover !important;
  --color: #fff !important;
  ion-title.title-md, ion-title.ios.title-ios.hydrated {
    text-align: center !important;
    text-transform: uppercase;
    font-family: var(--main-font) !important;
  }
}

button {
  background: none !important;
  ion-icon {
    font-size: 30px !important;
    --ion-color-base: #fff !important;
  }
}
