<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <button>
          <ion-icon name="menu" color="primary"></ion-icon>
        </button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>
      {{pageTitle}}
    </ion-title>
    <ion-buttons slot="end" (click)="openMyCart()">
      <button>
        <ion-icon name="cart" color="primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>