<script src="../../../../../najeba/src/pages/subject/subject.ts"></script>
<ion-content>
    <div class="login-icon">
        <img src="../../assets/imgs/Group 509@3x.png" alt="logo">
        <h1>choose country</h1>
    </div>

    <div class="countries">
        <ion-list class="accordion-list">
            <div class="list-header" *ngFor="let item of information; let i = index;" no-padding>
                <button (click)="toggleSection(i)"
                        [class.section-active]="item.open" class="accordion-btn">
                    <ion-icon slot="end" name="arrow-forward" *ngIf="!item.open"></ion-icon>
                    <ion-icon slot="end" name="arrow-down" *ngIf="item.open"></ion-icon>
                    <img [src]="item.flag" alt="">
                    {{item.name}}
                </button>
                <div *ngIf="item.open" class="accordion-list-items">
                    <!-- start child -->
                    <ion-item *ngFor="let child of item.children ; let y = index;" (click)="checkCity(i,y)">
                          {{child.name}}
                        <ion-icon slot="end" name="checkmark-circle-outline" *ngIf="child.check"></ion-icon>
                    </ion-item>
                </div>
            </div>
        </ion-list>
    </div>
</ion-content>
