ion-content {
  --background: url('../../assets/imgs/Group 4@3x.png') 0 0/100% 100% no-repeat !important;
  div.login-icon {
    text-align: center;
    padding-top: 26px;
    ion-icon {
      font-size: 6em !important;
      color: #fff !important;
    }
    h1 {
      text-transform: uppercase !important;
      text-align: center !important;
      color: #fff !important;
      margin-top: 0;
      font-size: 28px;
      font-family: var(--main-font) !important;
      margin-bottom: 30px !important;
    }
  }
  .countries {
    background: #fff;
    height: 100% !important;
    .accordion-list {
      padding-top: 0 !important;
      div.list-header {
        background: #fff;
        margin-bottom: 0 !important;
        transition: all ease-in-out .3s !important;
        border-bottom: 2px solid var(--main-color) !important;
        color: #000;
        .accordion-btn {
          position: relative;
          background: #fff;
          color: #000;
          text-align: left;
          transition: all ease-in-out .3s !important;
          height: 100% !important;
          width: 100% !important;
          text-transform: uppercase !important;
          padding-left: 10px;
          padding-top: 17px;
          padding-bottom: 17px;
          outline: none !important;
          ion-icon {
            position: absolute;
            right: 10px;
            font-size: 20px !important;
          }
          img{
            width: 40px !important;
            margin-right: 10px;
            vertical-align: middle !important
          }
          &:active{
            box-shadow: none !important;
            border-color: rgba(0,0,0,0) !important;
            outline: none !important;
          }
          &:visited{
            box-shadow: none !important;
            border-color: rgba(0,0,0,0) !important;
            outline: none !important;
          }
        }
        .accordion-list-items{
          ion-item{
            text-transform: uppercase !important;
          }
        }
      }

    }
  }
}

.section-active {
  background: linear-gradient(var(--ion-color-danger-tint), var(--main-color)) !important;
  color: #fff !important;
  ion-badge {
    color: #fff !important;
  }
  ion-icon {
    color: #fff !important;
  }
}

:host-context(html[dir="rtl"]) {
  .accordion-btn {
    text-align: right !important;
    ion-icon {
      left: 10px !important;
      right: auto !important;
    }
    img{
      margin-right: 3px !important;
      margin-left: 10px !important;
    }
  }
}