//h-scroll
div.h-scroll {
  position: relative;
  overflow: hidden;

  //hide scroll bar
  ::-webkit-scrollbar,
  *::-webkit-scrollbar {
    display: none;
  }
}

div.h-scroll[scrollx=true] {
  overflow-x: auto;
}

div.h-scroll[scrolly=true] {
  overflow-y: auto;
}

//end h-scroll

ion-grid.top-grid {
  padding: 0 !important;
  ion-col {
    flex: 0 0 calc(calc(2 / var(--ion-grid-columns, 10)) * 100%) !important;
    width: calc(calc(2 / var(--ion-grid-columns, 10)) * 100%) !important;
    max-width: calc(calc(2 / var(--ion-grid-columns, 10)) * 100%) !important;
    padding: 8px !important;
    border-left: 1px solid var(--border-color) !important;
    border-bottom: 1px solid var(--border-color) !important;
    &:first-of-type {
      border-left: none !important;
    }
    img {
      width: 100%;
    }
  }
}

ion-grid.main-grid {
  padding: 0 !important;
  ion-row {
    ion-col {
      border-right: 1px solid var(--border-color) !important;
      border-bottom: 1px solid var(--border-color) !important;
      .sc-ion-card-md-h, .sc-ion-card-ios-h {
        box-shadow: none !important;
        border: none !important;
        img {
          border: 1px solid var(--border-color) !important;
          border-radius: 8px !important;
          padding: 20px !important;
        }
        ion-card-header {
          padding: 5px 0 0 0 !important;
          ion-card-title.md.hydrated, ion-card-title.ios.hydrated {
            font-weight: bold !important;
            text-align: left;
            text-transform: uppercase !important;
            color: var(--main-color) !important;
            padding-top: 5px !important;
            padding-bottom: 5px !important;
            font-size: 17px !important;
          }
        }
        .wrapper-content {
          width: 100% !important;
          position: relative !important;
          --background: var(--main-color) !important;
          .span-text {
            position: absolute !important;
            left: 5px;
            padding-left: 5px;
            font-size: 14px;
            text-transform: uppercase !important;
            white-space: normal;
            text-align: left;
          }
          .span-icon {
            height: 100% !important;
            position: absolute;
            right: 0;
            padding-right: 5px;
            background: var(--dark-color);
            padding-left: 5px;
            ion-icon {
              height: 100%;
              font-size: 30px;
            }
          }
        }
      }
      &:nth-of-type(2n) {
        border-right: none !important;
      }
    }
  }
}

:host-context(html[dir="rtl"]) {
  ion-card-header {
    ion-card-title.md.hydrated, ion-card-title.ios.hydrated {
      text-align: right !important;
    }
  }

  .span-text {
    position: absolute !important;
    right: 6px !important;
    left: auto !important;
    padding-left: 5px;
    font-size: 14px;
    text-align: right !important;
  }
  .span-icon {
    left: 0 !important;
    right: auto !important;
  }

}