<app-header [pageTitle]="title"></app-header>

<ion-content>
    <div class="h-scroll" scrollx="true">
        <ion-grid class="top-grid">
            <ion-row nowrap>
                <ion-col size="2">
                    <img src="../../assets/imgs/Group%20281@3x.png">
                </ion-col>
                <ion-col size="2">
                    <img src="../../assets/imgs/Group%20281@3x.png">
                </ion-col>
                <ion-col size="2">
                    <img src="../../assets/imgs/Group%20281@3x.png">
                </ion-col>
                <ion-col size="2">
                    <img src="../../assets/imgs/Group%20281@3x.png">
                </ion-col>
                <ion-col size="2">
                    <img src="../../assets/imgs/Group%20488@3x.png">
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <ion-grid class="main-grid">
        <ion-row>
            <ion-col size="6">
                <ion-card class="welcome-card" (click)="openItemDetails()">
                    <img src="../../assets/imgs/Group%2060@3x.png" alt=""/>
                    <ion-card-header>
                        <ion-card-title>Lorem ipsum</ion-card-title>
                    </ion-card-header>
                    <div class="wrapper">
                        <ion-button expand="full" class="wrapper-content">
                            <span class="span-text">freash</span>
                            <span class="span-icon"> <ion-icon slot="end" name="heart-empty"></ion-icon></span>
                        </ion-button>
                    </div>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card class="welcome-card" (click)="openItemDetails()">
                    <img src="../../assets/imgs/Group%2060@3x.png" alt=""/>
                    <ion-card-header>
                        <ion-card-title>Lorem ipsum</ion-card-title>
                    </ion-card-header>
                    <div class="wrapper">
                        <ion-button expand="full" class="wrapper-content">
                            <span class="span-text">freash</span>
                            <span class="span-icon"> <ion-icon slot="end" name="heart-empty"></ion-icon></span>
                        </ion-button>
                    </div>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card class="welcome-card" (click)="openItemDetails()">
                    <img src="../../assets/imgs/Group%2060@3x.png" alt=""/>
                    <ion-card-header>
                        <ion-card-title>Lorem ipsum</ion-card-title>
                    </ion-card-header>
                    <div class="wrapper">
                        <ion-button expand="full" class="wrapper-content">
                            <span class="span-text">freash</span>
                            <span class="span-icon"> <ion-icon slot="end" name="heart-empty"></ion-icon></span>
                        </ion-button>
                    </div>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card class="welcome-card" (click)="openItemDetails()">
                    <img src="../../assets/imgs/Group%2060@3x.png" alt=""/>
                    <ion-card-header>
                        <ion-card-title>Lorem ipsum</ion-card-title>
                    </ion-card-header>
                    <div class="wrapper">
                        <ion-button expand="full" class="wrapper-content">
                            <span class="span-text">freash</span>
                            <span class="span-icon"> <ion-icon slot="end" name="heart-empty"></ion-icon></span>
                        </ion-button>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
