<ion-content>
    <div class="login-icon">
        <ion-icon name="contact"></ion-icon>
        <h1>sign in</h1>
    </div>

    <div class="social-login">
        <img src="../../assets/imgs/Group 6@3x.png" alt="facebook">
        <img src="../../assets/imgs/Group 8@3x.png" alt="facebook">
    </div>

    <div class="or">
        -or-
    </div>

    <form #loginForm (submit)="logIn()">
        <ion-item>
            <!--<ion-label position="floating">username</ion-label>-->
            <ion-input type="text" #username name="userName" placeholder="USERNAME" [(ngModel)]="userName"></ion-input>
            <ion-icon name="person" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
            <!--<ion-label position="floating">password</ion-label>-->
            <ion-input type="password" #pass name="password" placeholder="PASSWORD" [(ngModel)]="password"></ion-input>
            <ion-icon name="lock" slot="start"></ion-icon>
        </ion-item>

        <div class="login-btn">
            <ion-button type="submit" shape="round" [disabled]="username.invalid || pass.invalid">login</ion-button>
        </div>

    </form>

    <aside>
        <ion-grid>
            <ion-row>
                <ion-col [size]="6" text-center><a href="#">forgot password?</a></ion-col>
                <ion-col [size]="6" text-center>new user? <a href="#">sign up</a></ion-col>
            </ion-row>
        </ion-grid>
    </aside>

    <div class="guest-btn">
        <ion-button expand="full">continue as a guest</ion-button>
    </div>
</ion-content>
