ion-content {
  --background: url('../../assets/imgs/Group 4@3x.png') 0 0/100% 100% no-repeat !important;
  div.login-icon {
    text-align: center;
    padding-top: 24px;
    ion-icon {
      font-size: 6em !important;
      color: #fff !important;
    }
    h1 {
      text-transform: uppercase !important;
      text-align: center !important;
      color: #fff !important;
      margin-top: 0;
      font-size: 28px;
      font-family: var(--main-font) !important;
    }
  }
  div.social-login {
    padding-top: 5px !important;
    text-align: center !important;
  }
  div.or {
    text-align: center !important;
    color: #fff !important;
    font-size: 20px !important;
    text-transform: uppercase !important;
    padding: 8px 0 !important;
    font-family: var(--main-font) !important;
  }

  form {
    ion-item {
      width: 80% !important;
      //height: 50px !important;
      margin: auto !important;
      border-radius: 30px !important;
      margin-bottom: 10px !important;
      ion-label {
        text-transform: uppercase !important;
        color: #000 !important;
        font-size: 15px !important;
      }
      ion-icon {
        color: #000 !important;
      }
      ion-input {
        --placeholder-color: #000 !important;
        --placeholder-font-weight: bold !important;
      }
    }
    div.login-btn {
      text-align: center !important;
      height: 50px !important;
      ion-button {
        width: 80% !important;
        height: 100% !important;
        --background: #000 !important;
        color: #fff !important;
        text-transform: uppercase !important;
        font-size: 20px !important;
      }
    }
  }
  aside {
    ion-grid {
      ion-col {
        color: #fff !important;
        padding-top: 20px !important;
        font-size: 13px !important;
        text-transform: capitalize !important;
        a {
          color: #fff !important;
          text-decoration: none !important;
          font-size: 13px !important;
          text-transform: capitalize !important;
        }
        &:first-of-type {
          a {
            font-weight: normal !important;
          }
        }
        &:nth-of-type(2) {
          a {
            text-transform: uppercase !important;
            font-size: 14px !important;
            font-weight: bold !important;
          }
        }
      }
    }
  }

  div.guest-btn {
    position: fixed !important;
    height: 60px !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    ion-button {
      width: 100% !important;
      height: 100% !important;
      margin: 0 !important;
      color: var(--main-color) !important;
      --background: linear-gradient(#fff, #ddd);
    }
  }
}
