ion-grid {
  h1.main-header {
    text-align: center !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    color: var(--main-color) !important;
    font-family: var(--main-font) !important;
  }

  .sc-ion-card-md-h, .sc-ion-card-ios-h {
    box-shadow: none !important;
    border: none !important;
    ion-card-title.md.hydrated, ion-card-title.ios.hydrated {
      font-weight: normal !important;
      text-align: center !important;
      text-transform: uppercase !important;
      font-size: 13px !important;
      padding-top: 5px !important;
    }
  }
}
