<app-header [pageTitle]="title"></app-header>

<ion-content>
    <ion-grid>
        <h1 class="main-header">type of goats</h1>
        <ion-row>
            <ion-col size="6">
                <ion-card class="welcome-card" (click)="navigate()">
                    <img src="../../assets/imgs/Group%2060@3x.png" alt=""/>
                    <ion-card-header>
                        <ion-card-title>local</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card class="welcome-card" (click)="navigate()">
                    <img src="../../assets/imgs/Group%2060@3x.png" alt=""/>
                    <ion-card-header>
                        <ion-card-title>sudan</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card class="welcome-card" (click)="navigate()">
                    <img src="../../assets/imgs/Group%2060@3x.png" alt=""/>
                    <ion-card-header>
                        <ion-card-title>pakistani</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card class="welcome-card" (click)="navigate()">
                    <img src="../../assets/imgs/Group%2060@3x.png" alt=""/>
                    <ion-card-header>
                        <ion-card-title>indian</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
