// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

//.toolbar-background{
//  background-image: url("../assets/imgs/Group 46@3x.png") !important;
//  background-size: cover !important;
//}
$app-direction: multi; // Both RTL and LTR

ion-toolbar.hydrated {
  --background: url('../assets/imgs/Group 46@3x.png') !important;
  background-size: cover !important;
  --color: #fff !important;
  ion-title.title-md, ion-title.ios.title-ios.hydrated {
    text-align: center !important;
    text-transform: uppercase;
    font-family: var(--main-font) !important;
  }
}
[aria-checked=true].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md ,[aria-checked=true].sc-ion-alert-ios .alert-radio-icon.sc-ion-alert-ios {
  border-color: var(--main-color) !important;
}

.alert-radio-inner.sc-ion-alert-md{
  background-color: var(--main-color) !important;
}


