<ion-menu side="start" menuId="english">
  <ion-header>
    <ion-toolbar>
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="openPage('login')">login page</ion-item>
      <ion-item (click)="openPage('country')">Country</ion-item>
      <ion-item>
        <ion-button (click)="changeLang()">ar</ion-button>
        <ion-button (click)="changeLang()">en</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu side="end" menuId="arabic">
  <ion-header>
    <ion-toolbar>
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="openPage('login')">login page</ion-item>
      <ion-item (click)="openPage('country')">Country</ion-item>
      <ion-item>
        <ion-button (click)="changeLang()">ar</ion-button>
        <ion-button (click)="changeLang()">en</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>
