ion-toolbar.hydrated {
  //--background: url('../../assets/imgs/Group 46@3x.png') 0 0/100% 100% no-repeat !important;
  --background: var(--main-color) !important;
  background-size: cover !important;
  --color: #fff !important;
  ion-title.title-md, ion-title.ios.title-ios.hydrated {
    text-align: center !important;
    text-transform: uppercase;
    font-size: 15px !important;
    font-family: var(--main-font) !important;
  }
}

ion-grid.details-top {
  padding: 0 !important;
  ion-row {
    border-bottom: 1px solid var(--border-color) !important;
    ion-col {
      font-family: var(--main-font) !important;
      font-size: 13px !important;
      text-transform: capitalize !important;
      padding: 3px 5px 3px 20px !important;
      &:first-of-type {
        border-right: 1px solid var(--border-color) !important;
        text-align: left !important;
        color: #000 !important;
      }
      &:nth-of-type(2) {
        text-align: left !important;
        color: var(--main-color) !important;
        font-weight: bold !important;
      }
    }
  }
}

ion-grid.price {
  padding: 0 !important;
  margin-bottom: 40px !important;
  ion-row {
    ion-col {
      padding: 12px 5px 12px 20px !important;
      font-family: var(--main-font) !important;
      font-size: 17px !important;
      text-transform: uppercase !important;
      background: var(--main-color) !important;
      text-align: left !important;
      color: #fff !important;
      &:first-of-type{
        font-size: 15px !important;
      }
    }
  }
}

ion-grid.details {
  padding: 0 !important;
  ion-row {
    border-bottom: 1px solid var(--border-color) !important;
    ion-col {
      padding-top: 8px !important;
      padding-bottom: 8px !important;
      font-family: var(--main-font) !important;
      font-size: 15px !important;
      text-transform: uppercase !important;
      &:first-of-type {
        background: #eee !important;
        text-align: center !important;
        font-weight: normal !important;
      }
      &:nth-of-type(2) {
        text-align: left !important;
        padding-right: 13px !important;
      }
    }
    &:first-of-type{
      border-top: 1px solid var(--border-color) !important;
    }
  }
}

ion-grid.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 !important;
  ion-col {
    padding: 0 !important;
    ion-button {
      height: 60px !important;
      width: 100% !important;
    }
    &:first-of-type {
      ion-button {
        --background: var(--main-color) !important;
        color: #fff !important;
      }
    }
    &:last-of-type {
      ion-button {
        --background: var(--dark-color) !important;
        color: #fff !important;
      }
    }
  }
}