<ion-header>
  <ion-toolbar>

    <ion-title>
      confirm this order
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="details-top">
    <ion-row>
      <ion-col [size]="6">Lorem ipsum.</ion-col>
      <ion-col [size]="6">Lorem ipsum dolor.</ion-col>
    </ion-row>
    <ion-row>
      <ion-col [size]="6">Lorem ipsum.</ion-col>
      <ion-col [size]="6">Lorem ipsum dolor.</ion-col>
    </ion-row>
    <ion-row>
      <ion-col [size]="6">Lorem ipsum.</ion-col>
      <ion-col [size]="6">Lorem ipsum dolor.</ion-col>
    </ion-row>
    <ion-row>
      <ion-col [size]="6">Lorem ipsum.</ion-col>
      <ion-col [size]="6">Lorem ipsum dolor.</ion-col>
    </ion-row>
    <ion-row>
      <ion-col [size]="6">Lorem ipsum.</ion-col>
      <ion-col [size]="6">Lorem ipsum dolor.</ion-col>
    </ion-row>
    <ion-row>
      <ion-col [size]="6">Lorem ipsum.</ion-col>
      <ion-col [size]="6">Lorem ipsum dolor.</ion-col>
    </ion-row>
    <ion-row>
      <ion-col [size]="6">Lorem ipsum.</ion-col>
      <ion-col [size]="6">Lorem ipsum dolor.</ion-col>
    </ion-row>
    <ion-row>
      <ion-col [size]="6">Lorem ipsum.</ion-col>
      <ion-col [size]="6">Lorem ipsum dolor.</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="price">
    <ion-row>
      <ion-col [size]="6">total cost</ion-col>
      <ion-col [size]="6">1155.00 aed</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="details">
    <ion-row>
      <ion-col [size]="5">total</ion-col>
      <ion-col [size]="7">39.00 aed</ion-col>
    </ion-row>
    <ion-row>
      <ion-col [size]="5">tax added</ion-col>
      <ion-col [size]="7">5.0%</ion-col>
    </ion-row>
    <ion-row>
      <ion-col [size]="5">total cost</ion-col>
      <ion-col [size]="7">40.95 aed</ion-col>
    </ion-row>
    <ion-row>
      <ion-col [size]="5">total cost</ion-col>
      <ion-col [size]="7">40.95 aed</ion-col>
    </ion-row>
    <ion-row>
      <ion-col [size]="5">total cost</ion-col>
      <ion-col [size]="7">40.95 aed</ion-col>
    </ion-row>
    <ion-row>
      <ion-col [size]="5">total cost</ion-col>
      <ion-col [size]="7">40.95 aed</ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid class="footer">
    <ion-row>
      <ion-col size="6">
        <ion-button expand="full">
          <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
          confirm
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" (click)="cancel()">
          <ion-icon name="close" slot="start"></ion-icon>
          cancel
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
