<app-header [pageTitle]="title"></app-header>

<ion-content>
    <div class="h-scroll" scrollx="true">
        <ion-grid class="top-grid">
            <ion-row nowrap>
                <ion-col size="2">
                    <img src="../../assets/imgs/Group%20281@3x.png">
                </ion-col>
                <ion-col size="2">
                    <img src="../../assets/imgs/Group%20281@3x.png">
                </ion-col>
                <ion-col size="2">
                    <img src="../../assets/imgs/Group%20281@3x.png">
                </ion-col>
                <ion-col size="2">
                    <img src="../../assets/imgs/Group%20281@3x.png">
                </ion-col>
                <ion-col size="2">
                    <img src="../../assets/imgs/Group%20488@3x.png">
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <ion-item class="item">
        <ion-thumbnail slot="start">
            <img src="../../assets/imgs/ground-meat.jpg">
        </ion-thumbnail>
        <ion-label>
            <p>mince meat: <span class="red">indian cow</span>, quantity: <span class="red">1 KG</span>, Fat: <span
                    class="red">Add fats</span></p>

            <div class="control">
                <span class="price">39.00 aed</span>
                <span class="btn">
                    <ion-icon name="create" slot="end"></ion-icon>
                    <ion-icon name="trash" slot="end"></ion-icon>
                </span>
            </div>
        </ion-label>
    </ion-item>

    <ion-grid class="details">
        <ion-row>
            <ion-col [size]="5">total</ion-col>
            <ion-col [size]="7">39.00 aed</ion-col>
        </ion-row>
        <ion-row>
            <ion-col [size]="5">tax added</ion-col>
            <ion-col [size]="7">5.0%</ion-col>
        </ion-row>
        <ion-row>
            <ion-col [size]="5">total cost</ion-col>
            <ion-col [size]="7">40.95 aed</ion-col>
        </ion-row>
    </ion-grid>

    <div class="note">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores</p>
    </div>

    <ion-item class="cart">
        <ion-button expand="block" (click)="openConfirmPage()">
            <ion-icon name="cash" slot="start"></ion-icon>
          buy now
        </ion-button>
    </ion-item>

    <ion-grid class="footer">
        <ion-row>
            <ion-col size="6">
                <ion-button expand="full">
                    <ion-icon name="heart-empty" slot="start"></ion-icon>
                   favorite
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button expand="full">
                    <ion-icon name="add" slot="start"></ion-icon>
                    add more
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
