//h-scroll
div.h-scroll {
  position: relative;
  overflow: hidden;

  //hide scroll bar
  ::-webkit-scrollbar,
  *::-webkit-scrollbar {
    display: none;
  }
}

div.h-scroll[scrollx=true] {
  overflow-x: auto;
}

div.h-scroll[scrolly=true] {
  overflow-y: auto;
}

//end h-scroll

ion-grid.top-grid {
  padding: 0 !important;
  ion-col {
    flex: 0 0 calc(calc(2 / var(--ion-grid-columns, 10)) * 100%) !important;
    width: calc(calc(2 / var(--ion-grid-columns, 10)) * 100%) !important;
    max-width: calc(calc(2 / var(--ion-grid-columns, 10)) * 100%) !important;
    padding: 8px !important;
    border-left: 1px solid var(--border-color) !important;
    border-bottom: 1px solid var(--border-color) !important;
    &:first-of-type {
      border-left: none !important;
    }
    img {
      width: 100%;
    }
  }
}

ion-item.item-label.item.ion-focusable.hydrated {
  --inner-padding-end: 0px;
  --padding-start: 0px;
  border-bottom: 1px solid var(--border-color) !important;
  ion-thumbnail {
    margin-left: 15px !important;
  }
  ion-label {
    border-left: 1px solid var(--border-color) !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    p {
      white-space: normal !important;
      margin: 13px 0 !important;
      text-transform: capitalize !important;
      padding-left: 15px !important;
      padding-right: 5px !important;
      span.red {
        color: var(--main-color) !important;
        font-weight: bold !important;
      }
    }
    div.control {
      background: var(--main-color) !important;
      color: #fff !important;
      padding: 8px 18px !important;
      span.price {
        text-transform: uppercase !important;
        font-size: 15px !important;
        font-weight: bold !important;
        display: inline-block;
        width: 60% !important;
        vertical-align: super !important;
        letter-spacing: 2px !important;
      }
      span.btn {
        display: inline-block !important;
        width: 40% !important;
        text-align: right;
        padding-right: 5px;
        ion-icon {
          font-size: 30px !important;
        }
      }
    }
  }
}

ion-grid.details {
  padding: 0 !important;
  ion-row {
    border-bottom: 1px solid var(--border-color) !important;
    ion-col {
      padding-top: 8px !important;
      padding-bottom: 8px !important;
      font-family: var(--main-font) !important;
      font-size: 15px !important;
      text-transform: uppercase !important;
      &:first-of-type {
        background: #eee !important;
        text-align: center !important;
        font-weight: normal !important;
      }
      &:nth-of-type(2) {
        text-align: right !important;
        padding-right: 13px !important;
      }
    }
  }
}

div.note {
  p {
    padding: 21px 12px;
    text-align: center;
    font-size: 15px;
    color: #777;
  }
}

ion-item.cart {
  margin-bottom: 40px !important;
  --border-style: none !important;
  ion-button {
    width: 100% !important;
    height: 100% !important;
    --background: var(--main-color) !important;
    border-radius: 8px !important;
    font-size: 17px !important;
    text-transform: capitalize !important;
  }
}

ion-grid.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 !important;
  ion-col {
    padding: 0 !important;
    ion-button {
      height: 60px !important;
      width: 100% !important;
    }
    &:first-of-type {
      ion-button {
        --background: var(--dark-color) !important;
      }
    }
    &:last-of-type {
      ion-button {
        --background: #eee !important;
        color: #000 !important;
      }
    }
  }
}

:host-context(html[dir="rtl"]) {
  ion-item.item-label.item.ion-focusable.hydrated {
    ion-thumbnail {
      margin-right: 15px !important;
    }
    ion-label {
      border-left: none !important;
      border-right: 1px solid var(--border-color) !important;
      p {
        padding-left: 5px !important;
        padding-right: 15px !important;
      }
    }
  }

  span.btn {
    text-align: left !important;
  }

  //ion-col {
  //  &:nth-of-type(2) {
  //    text-align: left !important;
  //    padding-right: 13px !important;
  //  }
  //}
}